html, body, #root {
  height: 100%;
  width: 100%;
}

.h-100 {
  height: 100%;
}

.my-contaiener {
  display: flex;
  flex-direction: column;
  height:100%;
}

.my-main {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.my-menu {
  flex: 2;
  background-color: #f8f9fa;
}

.my-content {
  flex: 10;
}

.my-content .content-panel{
  padding:10px;
  height:100%;
}

.my-header, .my-footer{
  height:50px;
  background-color: #f8f9fa;
}

.login-panel .col-md-4 {
  background-color: #f8f9fa;
  padding: 20px;
}

.alert-text {
  color: red;
}

.align-items-center {
  -ms-flex-align: center!important;
  align-items: center!important;
}

.d-flex {
  display: -ms-flexbox!important;
  display: flex!important;
}

.color-red {
  color: red;
}

.text-center{
  	text-align: center;
}