html, body , #root{
  height: 100%;
  width:100%;
}
.h-100{
  height: 100%;
}
.menu-panel{
  background-color:#f8f9fa;
}
.footer-panel{
  background-color:#f8f9fa;
  padding:10px;
}
.login-panel .col-md-4{
  background-color:#f8f9fa;
  padding:20px;
}
.content-panel{
  padding:10px !important;
}
.alert-text{
  color:red;
}
.align-items-center {
  -ms-flex-align: center!important;
  align-items: center!important;
}
.d-flex {
  display: -ms-flexbox!important;
  display: flex!important;
}